/* // This is not my original work, but was created by following the tutorial found here:

// https://itnext.io/accessing-the-webcam-with-javascript-and-react-33cbe92f49cb

// All credit for this app goes to Gökhan İpek , @ https://gokhanipek.medium.com/ */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
